{% extends 'layout-more.html' %}


{% block head %}
<head>
	<title>{{title}}</title>
    <meta charset="utf-8">
		<link rel="icon" type="image/png" href="../img/favicon.png" />
    <link rel="stylesheet" href="../css/style.css" media="all">
		<link rel="stylesheet" href="../css/plus.css" media="all">
		<link rel="stylesheet" href="../css/reseaux.css" media="all">
		<link rel="stylesheet" href="../css/text-animation.css" media="all">
		<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
		<script type="text/javascript" src="../js/main.js"></script>
</head>
{% endblock %}


{% block menu %}
<ul class="ul-menu">
	<a href="./.."><img class="logo" src="/img/favicon.png" alt="Logo LocatioVoiture" ></a>
  <li class="li-menu first-li"><a href="/Voiture">Voiture</a></li>
  <li class="li-menu other-li"><a href="#news">Accessoire</a></li>
  <li class="li-menu other-li"><a href="/Contact">Contact</a></li>
	<li class="li-menu other-li"><a href="#">A propos</a></li>
</ul>
{% endblock %}


{% block best %}
	<div class="more">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2761.4728182704976!2d6.151259815582297!3d46.20104847911658!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x478c65612931c5a3%3A0xd84ed0d3ad1b036!2sTesla+Shop+Geneva!5e0!3m2!1sfr!2sfr!4v1553597061442" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
		<div class="mymore">
			Etudiant en Licence 3, nous avons réalisé ce site pour un projet Web en TP.		</div>
 </div>

{% endblock %}



{% block plus %}

		<div class="fullplusblackmore">
       <div class="plus">LocationVoiture. ©  TP Web Projet - License 3 Le Bourget-Du-Lac</div>
    </div>

{% endblock %}
